<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #static-resources},
                                                ~{:: #dash-nav},
                                                ~{:: #dash-header},
                                                ~{:: #dash-main-content},  
                                                ~{:: #dash-footer}
                                               )}">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Dashboard</title>
    <th:block id="static-resources"><!--add any additional static resource includes here -->
        <script>
            $( function() {
              $(".Polaris-Button").on("click",function() {
                  alert("nothing is going to happen here.");
              });
            } );
        </script>
    </th:block>
</head>

<body>
    <!-- this is the upper navigation in the header section-->
    <div id="dash-nav" class="Polaris-Page-Header__Navigation">
        <div id="breadcrumbs" th:replace="~{fragments/app-fragments :: breadcrumbs(breadcrumbs=${ {{'home', '/dash'},{'products','/products'}}})}"></div> 
        <div id="additionalNavWrapper" th:replace="~{fragments/app-fragments :: additionalNavWrapper}"></div>
        <div id="pagination" th:replace="~{fragments/app-fragments :: pagination(prev = '#', next='#')}"></div>
	</div>

    <!-- Any content you want in the header section below the title-->
    <div id="dash-header">
        <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">
           Dashboard 
        </h1>
    </div>

    <!-- Primary content with some examples for styles-->
    <div id="dash-main-content">
					<div class="Polaris-Layout__AnnotatedSection">
						<div class="Polaris-Layout__AnnotationWrapper">
							<div class="Polaris-Layout__Annotation">
								<div class="Polaris-TextContainer">
									<h2 class="Polaris-Heading">Style</h2>
									<p>Customize the style of your checkout</p>
								</div>
							</div>
							<div class="Polaris-Layout__AnnotationContent">
								<div class="Polaris-Card">
									<div class="Polaris-Card__Section">
										<div class="Polaris-SettingAction">
											<div class="Polaris-SettingAction__Setting">
												Upload your store&apos;s logo, change colors and fonts, and more.
											</div>
											<div class="Polaris-SettingAction__Action">
												<button type="button" class="Polaris-Button Polaris-Button--primary">
													<span class="Polaris-Button__Content"><span>Customize Checkout</span></span>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="Polaris-Layout__AnnotatedSection">
						<div class="Polaris-Layout__AnnotationWrapper">
							<div class="Polaris-Layout__Annotation">
								<div class="Polaris-TextContainer">
									<h2 class="Polaris-Heading">Products</h2>
									<p>View and Edit your products</p>
								</div>
							</div>
							<div class="Polaris-Layout__AnnotationContent">
								<div class="Polaris-Card">
									<div class="Polaris-Card__Section">
										<div class="Polaris-SettingAction">
											<div class="Polaris-SettingAction__Setting">
												View, search, edit and delete your products quickly and easily.
											</div>
											<div class="Polaris-SettingAction__Action">
												<a href="/products">
													<button type="button" class="Polaris-Button Polaris-Button--primary">
														<span class="Polaris-Button__Content"><span>Products</span></span>
													</button>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="Polaris-Layout__AnnotatedSection">
						<div class="Polaris-Layout__AnnotationWrapper">
							<div class="Polaris-Layout__Annotation">
								<div class="Polaris-TextContainer">
									<h2 class="Polaris-Heading">Account</h2>
									<p>Connect your account to your Shopify store.</p>
								</div>
							</div>
							<div class="Polaris-Layout__AnnotationContent">
								<div class="Polaris-Card">
									<div class="Polaris-Card__Section">
										<div class="Polaris-SettingAction">
											<div class="Polaris-SettingAction__Setting">
												<div class="Polaris-Stack">
													<div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
														<div class="Polaris-AccountConnection__Content">
															<div>
																<span class="Polaris-TextStyle--variationSubdued">No account connected</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="Polaris-SettingAction__Action">
												<button type="button" class="Polaris-Button Polaris-Button--primary">
													<span class="Polaris-Button__Content"><span>Connect</span></span>
												</button>
											</div>
										</div>
										<div class="Polaris-AccountConnection__TermsOfService">
											<p>
												By clicking Connect, you are accepting Sample&apos;s <a class="Polaris-Link" href="https://polaris.shopify.com" data-polaris-unstyled="true">Terms and Conditions</a>, including a commission rate of 15% on sales.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="Polaris-Layout__AnnotatedSection">
						<div class="Polaris-Layout__AnnotationWrapper">
							<div class="Polaris-Layout__Annotation">
								<div class="Polaris-TextContainer">
									<h2 class="Polaris-Heading">Form</h2>
									<p>A sample form using Polaris components.</p>
								</div>
							</div>
							<div class="Polaris-Layout__AnnotationContent">
								<div class="Polaris-Card">
									<div class="Polaris-Card__Section">
										<div class="Polaris-FormLayout">
											<div role="group" class="">
												<div class="Polaris-FormLayout__Items">
													<div class="Polaris-FormLayout__Item">
														<div class="">
															<div class="Polaris-Labelled__LabelWrapper">
																<div class="Polaris-Label">
																	<label id="TextField1Label" for="TextField1" class="Polaris-Label__Text">First Name</label>
																</div>
															</div>
															<div class="Polaris-TextField">
																<input id="TextField1" value="" placeholder="Tom" class="Polaris-TextField__Input" aria-labelledby="TextField1Label" aria-invalid="false" />
																<div class="Polaris-TextField__Backdrop"></div>
															</div>
														</div>
													</div>
													<div class="Polaris-FormLayout__Item">
														<div class="">
															<div class="Polaris-Labelled__LabelWrapper">
																<div class="Polaris-Label">
																	<label id="TextField2Label" for="TextField2" class="Polaris-Label__Text">Last Name</label>
																</div>
															</div>
															<div class="Polaris-TextField">
																<input id="TextField2" value="" placeholder="Ford" class="Polaris-TextField__Input" aria-labelledby="TextField2Label" aria-invalid="false" />
																<div class="Polaris-TextField__Backdrop"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="Polaris-FormLayout__Item">
												<div class="">
													<div class="Polaris-Labelled__LabelWrapper">
														<div class="Polaris-Label">
															<label id="TextField3Label" for="TextField3" class="Polaris-Label__Text">Email</label>
														</div>
													</div>
													<div class="Polaris-TextField">
														<input id="TextField3" value="" placeholder="example@email.com" class="Polaris-TextField__Input" aria-labelledby="TextField3Label" aria-invalid="false" />
														<div class="Polaris-TextField__Backdrop"></div>
													</div>
												</div>
											</div>
											<div class="Polaris-FormLayout__Item">
												<div class="">
													<div class="Polaris-Labelled__LabelWrapper">
														<div class="Polaris-Label">
															<label id="TextField5Label" for="TextField5" class="Polaris-Label__Text">How did you hear about us?</label>
														</div>
													</div>
													<div class="Polaris-TextField Polaris-TextField--multiline">
														<textarea id="TextField5" placeholder="Website, ads, email, etc." class="Polaris-TextField__Input" aria-labelledby="TextField5Label" aria-invalid="false"></textarea>
														<div class="Polaris-TextField__Backdrop"></div>
														<div aria-hidden="true" class="Polaris-TextField__Resizer">
															<div class="Polaris-TextField__DummyInput">
																Website, ads, email, etc.<br />
															</div>
															<div class="Polaris-TextField__DummyInput">
																<br />
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="Polaris-FormLayout__Item">
												<fieldset class="Polaris-ChoiceList">
													<ul class="Polaris-ChoiceList__Choices">
														<li>
															<label class="Polaris-Choice" for="Checkbox1">
																<div class="Polaris-Choice__Control">
																	<div class="Polaris-Checkbox">
																		<input type="checkbox" id="Checkbox1" name="ChoiceList1[]" value="false" class="Polaris-Checkbox__Input" aria-invalid="false" />
																		<div class="Polaris-Checkbox__Backdrop"></div>
																		<div class="Polaris-Checkbox__Icon">
																			<span class="Polaris-Icon">
																				<svg class="Polaris-Icon__Svg" viewBox="0 0 20 20">
																					<g fill-rule="evenodd">
																						<path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
																						<path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
																					</g>
																				</svg>
																			</span>
																		</div>
																	</div>
																</div>
																<div class="Polaris-Choice__Label">
																	I accept the Terms of Service
																</div>
															</label>
														</li>
														<li>
															<label class="Polaris-Choice" for="Checkbox2">
																<div class="Polaris-Choice__Control">
																	<div class="Polaris-Checkbox">
																		<input type="checkbox" id="Checkbox2" name="ChoiceList1[]" value="false2" class="Polaris-Checkbox__Input" aria-invalid="false" />
																		<div class="Polaris-Checkbox__Backdrop"></div>
																		<div class="Polaris-Checkbox__Icon">
																			<span class="Polaris-Icon">
																				<svg class="Polaris-Icon__Svg" viewBox="0 0 20 20">
																					<g fill-rule="evenodd">
																						<path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
																						<path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
																					</g>
																				</svg>
																			</span>
																		</div>
																	</div>
																</div>
																<div class="Polaris-Choice__Label">
																	I consent to receiving emails
																</div>
															</label>
														</li>
													</ul>
												</fieldset>
											</div>
                                        </div>
											<div class="Polaris-FormLayout__Item">
												<button type="button" class="Polaris-Button Polaris-Button--primary">
													<span class="Polaris-Button__Content"><span>Submit</span></span>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
    </div>

    <!-- the footer content-->
    <div id="dash-footer" th:replace="~{fragments/app-fragments :: footer(footerText = 'hidey-ho!')}"></div>

</body>

</html>
